a:hover.btn-arrow:after {
    margin-left: .75em;
}

body {
    margin: 0;
}

div#qbwrap p.p-banner {
    font-size: 18px;
    line-height: 1.3;
}

#contentWrapper .title.innerContent {
    position: absolute;
    width: 1020px;
    left: 50%;
    margin-left: -510px;
    margin-top: -50px;
    display: block;
}

#qbwrap {
    color: #000;
}

#qbwrap a {
    color: #21c9ff;
}

#qbwrap a.btn.brief-btn {
    padding: .5em 1.25em .5em;
    font-size: 13px;
}

#qbwrap a.btn-electric {
    text-decoration: none;
    background-color: #00b6f1;
    color: #fff;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%,#52cdf6), color-stop(91%,#05a0e2));
    background-image: -webkit-linear-gradient(top, #52cdf6 0%, #05a0e2 91%);
    background-image: -o-linear-gradient(top, #52cdf6 0%, #05a0e2 91%);
    background-image: -ms-linear-gradient(top, #52cdf6 0%, #05a0e2 91%);
    background-image: linear-gradient(to bottom, #52cdf6 0%, #05a0e2 91%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52cdf6', endColorstr='#05a0e2',GradientType=0 );
    text-shadow: 0 -1px 1px #05a0e2;
}

#qbwrap a.btn-electric:hover {
    color: #fff;
    background-color: #52cdf6;
    background-image: -moz-linear-gradient(top, #05a0e2 0%, #52cdf6 91%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#05a0e2), color-stop(91%,#52cdf6));
    background-image: -webkit-linear-gradient(top, #05a0e2 0%,#52cdf6 100%);
    background-image: -o-linear-gradient(top, #05a0e2 0%,#52cdf6 91%);
    background-image: -ms-linear-gradient(top, #05a0e2 0%,#52cdf6 91%);
    background-image: linear-gradient(to bottom, #05a0e2 0%,#52cdf6 91%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05a0e2', endColorstr='#52cdf6',GradientType=0 );
    text-shadow: 0 1px 1px #05a0e2;
}

#qbwrap div.col-md-9 {
    text-align: left;
}

#qbwrap div.col-md-9.initial-width {
    width: 75%;
}

#qbwrap div .p-b-45 {
    padding-bottom: 45px;
}

#qbwrap div.p-b-190 {
    padding-bottom: 190px;
}

#qbwrap div.bladecontact div.form {
    padding-top: 40px;
}

#qbwrap div.bladecontact form {
    width: 590px;
    background-color: transparent;
}

#qbwrap div.bladecontact div.form iframe {
    width: 100%;
    border: none;
    height: 500px;
}

#qbwrap h1 {
    margin: 0;
    font-family: "DIN Next W01 Regular",Arial,Helvetica,sans-serif;
    font-size: 45px;
    letter-spacing: 0;
}

#qbwrap h2 {
    font-family: "DIN Next W01 Regular",Arial,Helvetica,sans-serif;
    font-size: 38px;
    letter-spacing: 0;
}

#qbwrap h2.banner-sub {
    margin: 0;
    font-family: "DIN Next W01 Regular",Arial,Helvetica,sans-serif;
    font-size: 20px;
    letter-spacing: 0;
}

#qbwrap p.lead {
    color: #c9c9c9;
}

#qbwrap .bladecontact {
    background-color: #fff;
    background-image: url(http://cdn.quantum.com/cmsimages/satellite-resized.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-attachment: initial;
    -webkit-background-size: initial;
    background-size: initial;
}


#qbwrap .bladecontact.form {
    padding: 40px 0px 0px 0px;
    width: 522px !important;
    float: left;
    position: relative;
    z-index: 10;
}

#qbwrap .bladecontact.form h3 {
    padding-top: 40px;
    color: #00B6F1;
    font-size: 34px;
    font-family: 'DinPro', Helvetica, Arial, sans-serif;
    text-transform: none;
    margin-bottom: 45px;
    white-space: nowrap;
}

#qbwrap .empathy h2 {
    margin-bottom: 20px;
    color: #FFFFFF;
    text-align: center;
    font-size: 34px;
}

#qbwrap h3 {
    margin: 0;
    font-family: "DIN Next W01 Regular",Arial,Helvetica,sans-serif;
    font-weight: 500;
    font-size: 29px;
}

#qbwrap h3.color-eb {
    color: #21c9ff;
}

#qbwrap h4 {
    font-weight: initial;
    font-family: 'DIN Next W01 Medium', Arial, Helvetica, sans-serif;
}

#qbwrap img.server {
    max-width: initial;
    height: 650px;
}

#qbwrap .banner h1, #qbwrap .banner h2 {
    font-family: "DIN Next W01 Regular",Arial,Helvetica,sans-serif;
    letter-spacing: -0.03em;
}

#qbwrap .down-arrow {
    position: absolute;
    right: 50%;
    margin-right: -28px;
    height: 28px;
    width: 54px;
    background-image: url("http://www.quantum.com/images/ltblue-down-arrow.png");
    background-repeat: no-repeat;
    background-color: #f7f5f5;
    background-position: center top;
    -webkit-border-radius: 0 0 28px 28px;
    -moz-border-radius: 0 0 28px 28px;
    border-radius: 0 0 28px 28px;
}

#qbwrap .down-arrow-container {
    position: relative;
}

#qbwrap .full-width {
    padding: 0 15px;
    width: 100%;
}

#qbwrap .info-box {
    display: inline-block;
    padding: 12px;
    width: 125px;
    height: 54px;
    background-color: #0f73c3;
    color: #fff;
}

#qbwrap .info-box a {
    color: #fff;
}

#qbwrap .info-box:hover {
    background-color: #00b6f1;
    cursor: pointer;
}

#qbwrap .live-chat-box {
    float: right;
    background-color: #0f73c3;
    background-image: url(http://cdn.quantum.com/images/icon_chat.png);
    background-repeat: no-repeat;
    background-position: 25px 20px;
    padding: 25px 0 0 40px;
    width: 125px;
    height: 54px;
    background-color: #0f73c3;
    color: #fff;
}

#qbwrap .live-chat-box a {
    margin-left: 10px;
    color: #fff;
    cursor: pointer;
}

#qbwrap .live-chat-box:hover {
    background-color: #00b6f1;
}

#qbwrap .more-info {
    padding-top: 56px;
    background-color: white;
}

#qbwrap .more-info h2 {
    background-color: white;
    text-transform: none;
    font-size: 30px;
    line-height: 1.1;
    font-family: 'DIN Next W01 Medium', sans-serif;
    letter-spacing: -0.03em;
}

#qbwrap .more-info h3 {
    color: #000;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 0.5em;
}

#qbwrap a.btn.brief-btn {
    font-size: 16px;
}

#qbwrap h2.banner-sub {
    font-size: 23px;
}

#qbwrap .more-info-container {
    float: right;
    width: 293px;
    border: 2px solid #cccccc;
    padding: 12px;
    font-size: 12px;
    line-height: 1.2em;
}

#qbwrap .p-b-50 {
    padding-bottom: 50px;
}

#qbwrap .p-b-65 {
    padding-bottom: 65px;
}

#qbwrap .p-b-80 {
    padding-bottom: 80px;
}

#qbwrap .p-t-30 {
    padding-top: 30px;
}

#qbwrap .separator {
    padding: 0 15px;
    height: 1px;
    width: 100%;
    border-bottom: 2px solid #B0B9BF;
    opacity: 0.5;
}

#qbwrap .separator-container {
    padding: 0 15px;
}

.banner-surestaq {
    margin-top: -70px;
    height: 835px;
    background-image: url("http://cdn.quantum.com/images/commvault/blade-1-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.btn.move:after {
    content: "\f105";
    font-family: FontAwesome;
    display: inline-block;
    line-height: 1;
    border: 1px solid #00b6f1;
    text-align: center;
    border-radius: 50%;
    padding: 0 0 0 .125em;
    margin-left: .5em;
    font-size: 1em;
    transition: border 0.125s ease, margin-left 0.2s ease;
    width: 1.125em;
}

.commvault-logo {
    text-align: left;
}

#qbwrap .contact-info {
    margin-top: 40px;
    padding-top: 10px;
    border-top: #cdcdcd solid 1px;
    font-size: 12px;
}

#qbwrap .contact-info a.blue {
    color: #0f73c3;
}

.download-solution-brief {
    margin-top: 10px;
    border-radius: 0.236em;
    cursor: pointer;
}

.light-grey {
    background-color: #f7f5f5;
}

.m-t-100 {
    margin-top: 100px;
}

.m-t-135 {
    margin-top: 135px;
}

.scrolldown {
    background-color: #f7f5f5;
}

.p-b-30 {
    padding-bottom: 30px;
}

.p-b-35 {
    padding-bottom: 35px;
}




.p-banner {
    font-size: 13px;
    font-family: Arimo, "DINpro", "Arimo Bold"
}

.p-tb-80 {
    padding: 80px 0;
}

.mainBlue {
    display: none;
}
